{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-xs-6">
        <h2>
            <span
            {% if user_detail.type == 0 %}
                class="fa fa-user"
                title="пользователь"
            {% elif user_detail.type == 1 %}
                class="fa fa-user-o"
                title="участник (студент)"
            {% endif %}
            ></span>
            {{user_profile.profile_first_name}} {{user_profile.profile_second_name }}</h2>
    </div>
    <div class="col-xs-6 text-right">
        <h4>{% if user_detail.type == 0 %}
            пользователь
        {% elif user_detail.type == 1%}
            участник (студент)
        {% endif %}
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <small>Логин</small><br>
        {{user_detail.user_login}}
    </div>
    <div class="col-xs-4">
        <small>Дата регистрации</small><br>
        {{user_detail.user_reg_time}}
    </div>
    <div class="col-xs-4">
        <small>Время последнего логина</small><br>
        {% if user_detail.last_activity_time %}
            {{user_detail.last_activity_time}}
        {% else %}
            нет
        {% endif %}
    </div>
</div><br>
<div class="row">
    <div class="col-xs-4">
        <small>Участвовал в событиях</small><br>
        {{participated_events}}
    </div>
    <div class="col-xs-4">
        <small>Проведенных событий</small><br>
        {% if created_events %}
            {{created_events}}
        {% else %}
            нет
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3>Последние активности</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table hover">
            <tr>
                <td>#</td>
                <td>Событие</td>
                <td>Активность</td>
                <td>Время проведения</td>
                <td>Подключился</td>
                <td>Отключился</td>
            </tr>
        </table>
    </div>
</div>
{% endblock content %}