{% extends "base.html" %}
{% block content %}
<h2>Пользователи</h2>
<div class="row">
    <a href class="pull-right"></a>
</div>
<!--<form method="GET" action=".">-->
    <!--{{form}}-->
    <!--<input type="submit" value="Поиск">-->
<!--</form>-->
<form id="filter_form" method="GET" action=".">
<div class="row">
    <div class="col-xs-12">
            <div class="input-group">
                <input name="search"
                       class="form-control"
                       type="text"
                       placeholder="фамилия, имя"
                       value="{{form.search.value|default_if_none:''}}"
                >
                <span class="input-group-btn">
                    <input class="btn btn-default" type="submit" value="Поиск">
                </span>
            </div>
    </div>
</div>
<div class="row"><div class="col-xs-12">
        {% for item in form.user_type %}
            <label class="radio-inline">
                {{item.tag}}{{item.choice_label}}
            </label>
        {% endfor %}
        <span class="pull-right">Всего пользователей: {{paginator.count}}</span>
</div></div>
</form>
<table class="table table-hover">
    <tr>
        <td>ФИО</td>
        <td>Логин</td>
        <td>Дата регистрации</td>
        <td>Время последнего логина</td>
    </tr>
    {% for user in users %}
        <tr>
            <td>
                <span
                    {% if user.user.type == 0 %}
                        class="fa fa-user"
                        title="пользователь"
                    {% elif user.user.type == 1 %}
                        class="fa fa-user-o"
                        title="участник (студент)"
                    {% endif %}
                ></span>
                <a href="{% url 'users:detail' pk=user.user_id %}">{{user.profile_first_name}} {{user.profile_second_name}}</a></td>
            <td>
                <a href="{% url 'users:detail' pk=user.user_id %}">{{user.user.user_login}}</a>
            </td>
            <td>{{user.user.user_reg_time}}</td>
            <td>{{user.user.last_activity_time}}</td>
        </tr>
    {% endfor %}
</table>

    {% if is_paginated %}
    <ul class="pagination">
            {% if promo_codes.has_previous %}
                <li>
                    <a href="?page={{page_obj.previous_page_number}}&search={{form.search.value}}&user_type={{form.user_type.value}}"><span>&laquo;</span></a>
                </li>
            {% endif %}
            {% for page in paginator.page_range  %}
                <li
                    {% if page_obj.number == page %}
                    class="active"
                    {% endif %}
                >
                    <a href="?page={{page}}&search={{form.search.value}}&user_type={{form.user_type.value}}">{{page}}</a>
                </li>
            {% endfor %}
            {% if page_obj.has_next %}
                <li>
                    <a href="?page={{page_obj.next_page_number}}&search={{form.search.value}}&user_type={{form.user_type.value}}"><span aria-hidden="true">&raquo;</span></a>
                </li>
            {% endif %}
    </ul>
    {% endif %}
    <script>
        $('input[type=radio][name=user_type]').change(
        function(){
            $('#filter_form').submit();
        });
    </script>
{% endblock content %}