{% extends "base.html" %}
{% block content %}
<h2>Email profiles</h2>
<form action="{% url 'accounts:profile' %}" method="POST">
    {% csrf_token %}
    <table >
    {#    {{form.as_table}} #}
        {{profile_form.as_table}}
        {{email_form.as_table}}
    </table>
    <button type="submit">save</button>
</form>
{% endblock content %}