{% load staticfiles %}
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Добро пожаловать в InstaQuiz!</title>
  </head>
  <body bgcolor="#FFFFFF" text="#000000">
    <p> </p>
    <div
style="display:none;font-size:1px;line-height:1px;max-height:0px;max-width:0px;overflow:hidden;font-family:sans-serif;"
      data-mce-style="display: none; font-size: 1px; line-height: 1px;
      max-height: 0px; max-width: 0px; overflow: hidden; font-family:
      sans-serif;">&nbsp;</div>
    <table style="margin:auto;" data-mce-style="margin: auto;"
      class="mceItemTable" align="center" bgcolor="#ffffff" border="0"
      cellpadding="0" cellspacing="0" width="600">
      <tbody>
        <tr>
          <td><img
                  {% if preview %}
                    src = "{{basepath}}/{{banner}}"
                  {% else %}
                    src="cid:{{banner}}"
                  {% endif %}
              style="width:100%;max-width:600px;"
              data-mce-style="width: 100%; max-width: 600px;"
              align="middle" border="0" width="600"> </td>
        </tr>
        <tr>
          <td
style="padding:40px;text-align:left;font-family:sans-serif;font-size:16px;line-height:20px;color:#555555;"
            data-mce-style="padding: 40px; text-align: left;
            font-family: sans-serif; font-size: 16px; line-height: 20px;
            color: #555555;">
            <p style="text-align:center;" data-mce-style="text-align:
              center;">
                {% if name %}
                    Здравствуйте, {{name}}!
                {% else %}
                    Здравствуйте!
                {% endif %}
            </p>
            <br>
            Вас приветствует команда InstaQuiz - сервиса для
            эффективного взаимодействия с аудиторией при помощи
            мобильных устройств.<br>
            <span style="color: rgb(85, 85, 85); font-family:
              sans-serif; font-size: 16px; font-style: normal;
              font-variant-ligatures: normal; font-variant-caps: normal;
              font-weight: normal; letter-spacing: normal; orphans: 2;
              text-align: left; text-indent: 0px; text-transform: none;
              white-space: normal; widows: 2; word-spacing: 0px;
              -webkit-text-stroke-width: 0px; background-color: rgb(255,
              255, 255); display: inline !important; float: none;">Мы
              рады сообщить о начале закрытого бета-тестирования и
              приглашаем Вас принять непосредственное участие в этом
              событии!<br>
              К тестированию уже присоединились </span><span
              style="color: rgb(85, 85, 85); font-family: sans-serif;
              font-size: 16px; font-style: normal;
              font-variant-ligatures: normal; font-variant-caps: normal;
              font-weight: normal; letter-spacing: normal; orphans: 2;
              text-align: left; text-indent: 0px; text-transform: none;
              white-space: normal; widows: 2; word-spacing: 0px;
              -webkit-text-stroke-width: 0px; background-color: rgb(255,
              255, 255); display: inline !important; float: none;"><span
                style="color: rgb(85, 85, 85); font-family: sans-serif;
                font-size: 16px; font-style: normal;
                font-variant-ligatures: normal; font-variant-caps:
                normal; font-weight: normal; letter-spacing: normal;
                orphans: 2; text-align: left; text-indent: 0px;
                text-transform: none; white-space: normal; widows: 2;
                word-spacing: 0px; -webkit-text-stroke-width: 0px;
                background-color: rgb(255, 255, 255); display: inline
                !important; float: none;">коллеги из МГТУ им. Н.Э.
                Баумана, а также </span>несколько преподавателей
              Университета ИТМО.</span><br>
            <br>
            Для начала регистрации нажмите кнопку "Начать" или перейдите
            по ссылке <a href="https://admin.instaquiz.ru/#/reg"
              data-mce-href="https://admin.instaquiz.ru">admin.instaquiz.ru</a>
            и введите Ваш персональный промо-код <strong>{{promo_code}}</strong>.<br>
            После регистрации Вам будет предложен интерактивный туториал
            по основным возможностям InstaQuiz (если вдруг Вы пропустили
            туториал, его можно найти в разделе "Помощь").<br>
            <br>
            <table style="margin:auto;" data-mce-style="margin: auto;"
              class="mceItemTable" align="center" border="0"
              cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td
                    style="border-radius:3px;background:#222222;text-align:center;"
                    data-mce-style="border-radius: 3px; background:
                    #222222; text-align: center;"><a
                      href="https://admin.instaquiz.ru/#reg?promo={{promo_code}}"
                      style="background:#ed861d;border:15px solid
#ed861d;font-family:sans-serif;font-size:16px;line-height:1.1;text-align:center;text-decoration:none;display:block;border-radius:3px;"
data-mce-href="https://admin.instaquiz.ru/#reg?promo={{promo_code}}"
                      data-mce-style="background: #ed861d; border: 15px
                      solid #ed861d; font-family: sans-serif; font-size:
                      16px; line-height: 1.1; text-align: center;
                      text-decoration: none; display: block;
                      border-radius: 3px;"> &nbsp;&nbsp;&nbsp;&nbsp;<span
                        style="color:#ffffff;" data-mce-style="color:
                        #ffffff;">Начать</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    </a> </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <div>
              <table style="text-align:center;background-position:center
                center !important;background-size:cover !important;"
                valign="middle" data-mce-style="text-align: center;
                background-position: center center !important;
                background-size: cover !important;" class="mceItemTable"
                align="center" bgcolor="#eee" border="0" cellpadding="0"
                cellspacing="0" width="100%">
                <tbody>
                  <tr>
                    <td
style="text-align:center;padding:40px;font-family:sans-serif;font-size:24px;line-height:20px;color:#33435c;"
                      data-mce-style="text-align: center; padding: 40px;
                      font-family: sans-serif; font-size: 24px;
                      line-height: 20px; color: #33435c;"
                      valign="middle"><b>Что такое InstaQuiz?</b> </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        <tr>
          <td style="padding:10px;" data-mce-style="padding: 10px;"
            align="center" valign="top">
            <table class="mceItemTable" border="0" cellpadding="0"
              cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td>
                    <table class="mceItemTable" border="0"
                      cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <td style="padding:10px;text-align:center;"
                            data-mce-style="padding: 10px; text-align:
                            center;"><br>
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="font-family:sans-serif;font-size:16px;line-height:20px;color:#555555;padding:0

                            10px 10px;text-align:left;"
                            data-mce-style="font-family: sans-serif;
                            font-size: 16px; line-height: 20px; color:
                            #555555; padding: 0 10px 10px; text-align:
                            left;">Плохая обратная связь - это одна из
                            проблем работы с аудиторией. <br>
                            По статистике, <strong>всего 30%</strong>
                            студентов на лекции готовы поднять руку для
                            того чтобы ответить на вопрос преподавателя.
                            <br>
                            И лишь <strong>только 13%</strong> готовы
                            ответить устно. <br>
                            С другой стороны, даже если каждый готов
                            ответить, как сделать такой опрос быстрым? <br>
                            InstaQuiz превращает мобильные устройства
                            Вашей аудитории в "кликеры", а Вам
                            предоставляет инструменты визуализации и
                            аналитики результатов.</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <div>
              <table style="text-align:center;background-position:center
                center !important;background-size:cover !important;"
                valign="middle" data-mce-style="text-align: center;
                background-position: center center !important;
                background-size: cover !important;" class="mceItemTable"
                align="center" bgcolor="#eee" border="0" cellpadding="0"
                cellspacing="0" width="100%">
                <tbody>
                  <tr>
                    <td
style="text-align:center;padding:40px;font-family:sans-serif;font-size:24px;line-height:20px;color:#33435c;"
                      data-mce-style="text-align: center; padding: 40px;
                      font-family: sans-serif; font-size: 24px;
                      line-height: 20px; color: #33435c;"
                      valign="middle"><b>Как работает InstaQuiz?</b> </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        <tr>
          <td style="padding:10px;" data-mce-style="padding: 10px;"
            align="center" valign="top" width="100%">
            <table class="mceItemTable" align="center" border="0"
              cellpadding="0" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td width="33.33%">
                    <table class="mceItemTable" align="center"
                      border="0" cellpadding="0" cellspacing="0"
                      width="100%">
                      <tbody>
                        <tr>
                          <td style="padding:0 10px;"
                            data-mce-style="padding: 0 10px;"
                            valign="top"><img alt="alt_text"
                            {% if preview %}
                                src="{{basepath}}/{{quiz}}"
                            {% else %}
                                src="cid:{{quiz}}"
                            {% endif %}

                              border="0" width="170"> </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td width="66.66%">
                    <table class="mceItemTable" align="center"
                      border="0" cellpadding="0" cellspacing="0"
                      width="100%">
                      <tbody>
                        <tr>
                          <td
style="font-family:sans-serif;font-size:16px;line-height:20px;color:#555555;padding:10px;text-align:left;"
                            data-mce-style="font-family: sans-serif;
                            font-size: 16px; line-height: 20px; color:
                            #555555; padding: 10px; text-align: left;"
                            valign="top"><strong style="color:#111111;"
                              data-mce-style="color: #111111;">Тесты и
                              опросы</strong> <br>
                            <br>
                            Создавайте тесты или опросы для Вашей
                            аудитории при помощи удобного редактора
                            InstaQuiz <br>
                            <br>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td style="padding:10px;" data-mce-style="padding: 10px;"
            align="center" valign="top" width="100%">
            <table class="mceItemTable" align="center" border="0"
              cellpadding="0" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td width="33.33%">
                    <table class="mceItemTable" align="center"
                      border="0" cellpadding="0" cellspacing="0"
                      width="100%">
                      <tbody>
                        <tr>
                          <td style="padding:0 10px;"
                            data-mce-style="padding: 0 10px;"
                            valign="top"><img alt="alt_text"
                            {% if preview %}
                              src="{{basepath}}/{{mobile}}"
                            {% else %}
                              src="cid:{{mobile}}"
                            {% endif %}
                              border="0" width="170"> </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td width="66.66%">
                    <table class="mceItemTable" align="center"
                      border="0" cellpadding="0" cellspacing="0"
                      width="100%">
                      <tbody>
                        <tr>
                          <td
style="font-family:sans-serif;font-size:16px;line-height:20px;color:#555555;padding:10px;text-align:left;"
                            data-mce-style="font-family: sans-serif;
                            font-size: 16px; line-height: 20px; color:
                            #555555; padding: 10px; text-align: left;"
                            valign="top"><strong style="color:#111111;"
                              data-mce-style="color: #111111;">Мгновенная

                              обратная связь</strong> <br>
                            <br>
                            Вы создаете урок в InstaQuiz, а студенты
                            подключаются к нему с помощью своих
                            мобильных устройств и отвечают на вопросы в
                            реальном времени. <br>
                            Управляйте ходом тестов/опросов, активируйте
                            их в нужный момент занятия и демонстрируйте
                            результаты студентам! <br>
                            <br>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td style="padding:10px;" data-mce-style="padding: 10px;"
            align="center" valign="top" width="100%">
            <table class="mceItemTable" align="center" border="0"
              cellpadding="0" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td width="33.33%">
                    <table class="mceItemTable" align="center"
                      border="0" cellpadding="0" cellspacing="0"
                      width="100%">
                      <tbody>
                        <tr>
                          <td style="padding:0 10px;"
                            data-mce-style="padding: 0 10px;"
                            valign="top"><img alt="alt_text"
                            {% if preview %}
                              src="{{basepath}}/{{visual}}"
                            {% else %}
                              src="cid:{{visual}}"
                            {% endif %}

                              border="0" width="170"> </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td width="66.66%">
                    <table class="mceItemTable" align="center"
                      border="0" cellpadding="0" cellspacing="0"
                      width="100%">
                      <tbody>
                        <tr>
                          <td
style="font-family:sans-serif;font-size:16px;line-height:20px;color:#555555;padding:10px;text-align:left;"
                            data-mce-style="font-family: sans-serif;
                            font-size: 16px; line-height: 20px; color:
                            #555555; padding: 10px; text-align: left;"
                            valign="top"><strong style="color:#111111;"
                              data-mce-style="color: #111111;">Визуализация

                              и аналитика</strong> <br>
                            <br>
                            InstaQuiz умеет работать в режиме
                            презентации! Например, результаты в виде
                            анимированных диаграмм можно вывести на
                            экран через проектор, а управлять ходом
                            теста/опроса при помощи планшета. <br>
                            Все полученные данные сохраняются в Вашем
                            аккаунте, что в дальнейшем позволит
                            осуществлять аналитику. <br>
                            <br>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td style="padding:10px;" data-mce-style="padding: 10px;"
            align="center" valign="top" width="100%">
            <table class="mceItemTable" align="center" border="0"
              cellpadding="0" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td width="33.33%">
                    <table class="mceItemTable" align="center"
                      border="0" cellpadding="0" cellspacing="0"
                      width="100%">
                      <tbody>
                        <tr>
                          <td style="padding:0 10px;"
                            data-mce-style="padding: 0 10px;"
                            valign="top"><img alt="alt_text"
                            {% if preview %}
                              src="{{basepath}}/{{share}}"
                            {% else %}
                              src="cid:{{share}}"
                            {% endif %}
                              border="0" width="170"> </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td width="66.66%">
                    <table class="mceItemTable" align="center"
                      border="0" cellpadding="0" cellspacing="0"
                      width="100%">
                      <tbody>
                        <tr>
                          <td
style="font-family:sans-serif;font-size:16px;line-height:20px;color:#555555;padding:10px;text-align:left;"
                            data-mce-style="font-family: sans-serif;
                            font-size: 16px; line-height: 20px; color:
                            #555555; padding: 10px; text-align: left;"
                            valign="top"><strong style="color:#111111;"
                              data-mce-style="color: #111111;">Коллаборация

                              (скоро!)</strong> <br>
                            <br>
                            Делитесь с коллегами своими тестами/опросами
                            или используйте уже существующие. <br>
                            <br>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <div>
              <table style="text-align:center;background-position:center
                center !important;background-size:cover !important;"
                valign="middle" data-mce-style="text-align: center;
                background-position: center center !important;
                background-size: cover !important;" class="mceItemTable"
                align="center" bgcolor="#eee" border="0" cellpadding="0"
                cellspacing="0" width="100%">
                <tbody>
                  <tr>
                    <td
style="text-align:center;padding:40px;font-family:sans-serif;font-size:24px;line-height:20px;color:#33435c;"
                      data-mce-style="text-align: center; padding: 40px;
                      font-family: sans-serif; font-size: 24px;
                      line-height: 20px; color: #33435c;"
                      valign="middle"><b>Нужна помощь?</b> </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        <tr>
          <td style="padding:10px;" data-mce-style="padding: 10px;"
            align="center" valign="top">
            <table class="mceItemTable" border="0" cellpadding="0"
              cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td>
                    <table class="mceItemTable" border="0"
                      cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <td style="padding:10px;text-align:center;"
                            data-mce-style="padding: 10px; text-align:
                            center;"><br>
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="font-family:sans-serif;font-size:16px;line-height:20px;color:#555555;padding:0

                            10px 10px;text-align:left;"
                            data-mce-style="font-family: sans-serif;
                            font-size: 16px; line-height: 20px; color:
                            #555555; padding: 0 10px 10px; text-align:
                            left;">InstaQuiz сейчас на стадии
                            бета-тестирования. Если у Вас возникли
                            сложности с доступом к сервису или есть
                            вопросы по работе с ним, пожалуйста, не
                            стесняйтесь писать нам на <a
                              href="mailto:support@instaquiz.ru"
                              data-mce-href="mailto:support@instaquiz.ru">support@instaquiz.ru</a>,
                            будем рады помочь!</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <table style="margin:auto;" data-mce-style="margin: auto;"
      class="mceItemTable" align="center" border="0" cellpadding="0"
      cellspacing="0" width="600">
      <tbody>
        <tr>
          <td style="padding:40px
10px;width:100%;font-size:12px;font-family:sans-serif;line-height:18px;text-align:center;color:#888888;"
            data-mce-style="padding: 40px 10px; width: 100%; font-size:
            12px; font-family: sans-serif; line-height: 18px;
            text-align: center; color: #888888;">InstaQuiz © 2016 <br>
            <span><a href="https://instaquiz.ru"
                data-mce-href="https://instaquiz.ru">instaquiz.ru</a></span>
            <br>
            <span></span> <br>
            <br>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>