{% extends "base.html" %}
{% block content %}
    <div style="width: 100%">
    <div style="display: inline-block; vertical-align: top; width: 30%">
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Пригласить</button>
        </form>
    </div>
    <div style="display: inline-block; vertical-align: top; width: 50%">
        {{template}}
    </div>
    </div>
{% endblock %}