{% extends "base.html" %}
{% block title %} promo codes {% endblock %}

{% block content %}
<div class="row"><div class="col-xs-12">
        <h2>Промокоды
        <a class="btn btn-default pull-right" href="{% url 'promo:invite' promo_code='' %}">
            Пригласить <span class="fa fa-user-plus"></span>
        </a></h2>
    </div></div>
{% if promo_codes %}
    <div class="row"><div class="col-xs-12">
    <table class="table table-hover">
        <tr>
            <td>Промо код</td>
            <td>Когда создан</td>
            <td>Когда активирован</td>
            <td>Комментарий</td>
            <td>Подписчик</td>
            <td></td>
        </tr>
        {% for code in promo_codes %}
            <tr>
                <td>{{code.code}}</td>
                <td>{{code.creation_time}}</td>
                <td>{{code.used_time}}</td>
                <td>{{code.comment}}</td>
                <td>
                    {% if code.userspromo_set.all %}
                        <a href="{% url 'users:detail' code.user_id %}">
                            {{code.profile_first_name}}
                            {{code.profile_second_name}}
                        </a>
                    {% else %}
                        {{code.subscriber.first_name}} {{code.subscriber.second_name}}
                    {% endif %}
                </td>
                <td><a href="{% url 'promo:promo_code' code.code_id %}">ред.<a/></td>
            </tr>
        {% endfor %}
    </table>
    </div></div>
{% else %}
    no promo codes
{% endif %}
<div class="row"><div class="col-xs-12">
<ul class="pagination">
        {% if page_obj.has_previous %}
            <li>
                <a href="?page={{page_obj.previous_page_number }}"><span>&laquo;</span></a>
            </li>
        {% endif %}
        {% for page in paginator.page_range  %}
            <li
                {% if page_obj.number == page %}
                class="active"
                {% endif %}
            >
                <a href="?page={{page}}">{{page}}</a>
            </li>
        {% endfor %}
        {% if page_obj.has_next %}
            <li>
                <a href="?page={{page_obj.next_page_number }}"><span aria-hidden="true">&raquo;</span></a>
            </li>
        {% endif %}
</ul>
</div></div>
{% endblock content%}