{% extends "base.html" %}
{% block content %}
{% if promo_code%}
    <form action="{% url 'promo:delete_promo' id=promo_code.code_id %}" method="POST">
        {% csrf_token %}
        Удалить промо-код {{promo_code.code}}?
        <button type="submit">Удалить</button>
    </form>
{% else %}
    Промо-кода не существует
{% endif %}
{% endblock %}