{% extends "base.html" %}
{% block content %}
{% if not promo_code %}
    <p>no selected promo</p>
{% else %}
    <div class="row">
        <div class="col-xs-12 text-right">
            <form action="{% url 'promo:delete_promo' promo_code.code_id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="удалить">
            </form>
        </div>
    </div>

    <form action="{% url 'promo:promo_code' promo_code.code_id %}" method="POST">
        {% csrf_token %}
        <label>Промо код: </label>{{promo_code.code}}
        <br>
        <label>Когда создан: </label>{{promo_code.creation_time}}<br>
        <label>Когда активирован: </label>{{promo_code.used_time}}<br>
        {{form}}<br>
        <button type="submit">Save</button>
    </form>
    <a href="{% url 'promo:invite' promo_code=promo_code.code %}">invite</a>
{% endif %}
{% endblock content %}