{% extends "base.html" %}
{% block title %} subscribers {% endblock %}

{% block content %}
<h2>Подписчики</h2>
<form method="GET" action=".">
<div class="row">
    <div class="col-xs-12">
         <div class="input-group">
                <input name="search"
                       class="form-control"
                       type="text"
                       placeholder="фамилия, имя"
                       value="{{form.search.value}}"
                >
                <span class="input-group-btn">
                    <input class="btn btn-default" type="submit" value="Поиск">
                </span>
            </div>
    </div>
</div>
</form>
<div class="row"><div class="col-xs-12">
    {% if subscribers %}
    <table class="table table-hover">
        <tr>
            <td>Email</td>
            <td>Имя</td>
            <td>Фамилия</td>
            <td>Время регистрации</td>
            <td>Сфера</td>
            <td>Приглашение</td>
            <td></td>
        </tr>
        {% for sub in subscribers %}
            <tr>
                <td>{{sub.email}}</td>
                <td>{{sub.first_name}}</td>
                <td>{{sub.second_name}}</td>
                <td>{{sub.time}}</td>
                <td>{{sub.job}}</td>
                <td>
                    {% if not sub.promocodes_set.all %}
                        нет
                    {% endif %}
                    {% for code in sub.promocodes_set.all %}
                        <a href="{% url 'promo:promo_code' code.code_id %}">{{code.code}}</a><br>
                    {% endfor %}
                </td>
                {# <td><a href="{% url 'promo:invite' email=sub.email first_name=sub.first_name %}">invite<a/></td> #}
                <td><a href="{% url 'promo:invite' subscriber_id=sub.subscriber_id %}">Пригласить<a/></td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        no subscribers
    {% endif %}
</div></div>
<div class="row"><div class="col-xs-12">
<ul class="pagination">
        {% if page_obj.has_previous %}
            <li>
                <a href="?page={{page_obj.previous_page_number}}&search={{form.search.value}}"><span>&laquo;</span></a>
            </li>
        {% endif %}
        {% for page in paginator.page_range  %}
            <li
                {% if page_obj.number == page %}
                class="active"
                {% endif %}
            >
                <a href="?page={{page}}&search={{form.search.value}}">{{page}}</a>
            </li>
        {% endfor %}
        {% if page_obj.has_next %}
            <li>
                <a href="?page={{page_obj.next_page_number}}&search={{form.search.value}}"><span aria-hidden="true">&raquo;</span></a>
            </li>
        {% endif %}
</ul>
</div></div>
{% endblock content%}