{% extends "base.html" %}
{% block content %}
<h2>События</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4">
            <small>Всего событий</small>
            <h1>{{all_events}}</h1>
        </div>
        <div class="col-xs-4">
            <small>Событий сегодня</small>
            <h1>{{today_events}}</h1>
        </div>
        <div class="col-xs-4">
            <small>Событий вчера</small>
            <h1>{{events_last_day}}</h1>
        </div>
    </div>
</div>
<div class="row"><div class="col-lg-3 col-md-3 col-xs-12">
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            {% if group_by == 'month' %}
            По месяцам
            {% elif group_by == 'year' %}
            По годам
            {% elif group_by == 'day' %}
            По дням
            {% endif %}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="./?group_by=month">По месяцам</a></li>
            <li><a href="./?group_by=year">По годам</a></li>
            <li><a href="./?group_by=day">По дням</a></li>
        </ul>
    </div>
</div></div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-hover">
            <tr>
                <td>Дата</td>
                <td>Кол-во</td>
            </tr>
            {% for e in events %}
                <tr>
                    <td>
                        {% if group_by == 'month' %}
                            {{e.date|date:"F Y"}}
                        {% endif %}
                        {% if group_by == 'year' %}
                            {{e.date|date:"Y"}}
                        {% endif %}
                        {% if group_by == 'day' %}
                            {{e.date|date:"j F Y"}}
                        {% endif %}
                    </td>
                    <td>{{e.count}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
<ul class="pagination">
        {% if page_obj.has_previous %}
            <li>
                <a href="?page={{page_obj.previous_page_number }}&group_by={{group_by}}"><span>&laquo;</span></a>
            </li>
        {% endif %}
        {% for page in paginator.page_range  %}
            <li
                {% if page_obj.number == page %}
                class="active"
                {% endif %}
            >
                <a href="?page={{page}}&group_by={{group_by}}">{{page}}</a>
            </li>
        {% endfor %}
        {% if page_obj.has_next %}
            <li>
                <a href="?page={{page_obj.next_page_number }}&group_by={{group_by}}"><span aria-hidden="true">&raquo;</span></a>
            </li>
        {% endif %}
</ul>
{% endblock content %}